.sidebar {
    font-family: 'Tomorrow', sans-serif;
    color: #dddddd;
    background: #191919;
    padding: 20px;
    border-left: 3px solid var(--blue-color);
    height: 100%; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .sidebar h2 {
    margin: 0;
  }
  